main {
  padding-top: 9.6rem;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  min-width: 100%;
  z-index: 999;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.6rem;
    ul {
      display: flex;
      li {
        margin-right: 3.4rem;
        a:hover {
          color: $Yellow;
        }
        img {
          margin-right: 2.4rem;
        }
      }
    }
  }
}
