main {
  padding-top: 9.6rem;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  min-width: 100%;
  z-index: 999;
  .header__hamburgerList {
    display: none;
  }
  .header__hamburgerList-visible {
    display: none;
  }
  nav {
    .header__hamburger {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.6rem;
    ul {
      display: flex;
      li {
        margin-right: 3.4rem;
        a:hover {
          color: $Yellow;
        }
        img {
          margin-right: 2.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  main {
    padding-top: 6.4rem;
  }

  header {
    .header__hamburgerList {
      position: absolute;
      top: 6.4rem;
      height: calc(100vh - 6.4rem);
      width: calc(100% - 25.6rem);
      right: 0;
      display: inline-block;
      background-color: #000000c0;
    }
    .header__hamburgerList-visible {
      position: absolute;
      top: 6.4rem;
      width: 25.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #333a44;
      height: calc(100vh - 6.4rem);
      padding: 6.4rem 0 2.4rem 3.2rem;
      li {
        transition: transform 0.2s ease-in-out;
        ul {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          li {
            max-width: fit-content;
            a {
              color: $Light-Grey;
              &:hover {
                color: $Yellow;
              }
            }
          }
        }
      }
    }

    nav {
      min-height: 6.4rem;
      justify-content: center;
      .header__hamburger {
        border: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        position: absolute;
        left: 8%;
        div {
          height: 0.369rem;
          width: 1.969rem;
          background-color: $Yellow;
        }
      }
      ul {
        li {
          margin-right: 0;
          a {
            p {
              display: none;
            }
            img {
              margin: 0;
              max-width: 7.55rem;
            }
          }
        }
      }
    }
    .btnHeader {
      display: none;
    }
  }
}

.header__hamburgerList-hidden {
  .header__hamburgerList {
    transform: translate(-100vh);
  }
  .header__hamburgerList-visible {
    transform: translate(-25.6rem);
    li {
      transform: translate(-25.6rem);
    }
  }
}

.header__hamburgerList-fixed {
  position: fixed;
  height: 100%;
  width: 100%;
}

.header__hamburger-cross {
  position: relative;
  div:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  div:nth-child(2) {
    position: absolute;
    transform: rotate(-45deg);
  }
  div:nth-child(3) {
    display: none;
  }
}

//FOOTER
.bottomContainer {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}
.bottom {
  background-color: $Dark-Navy;
  height: 30rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.store {
  position: relative;
  display: flex;
  gap: 2rem;
}
.store img {
  width: 18rem;
  height: 5.6rem;
  margin-top: 33px;
}
#circle {
  left: 30%;
  bottom: -30rem;
  position: absolute;
}

.media {
  display: flex;
  margin-left: auto;
  width: 100ps;
}
.media a i {
  color: $Yellow;
  font-size: 2rem;
  padding-left: 1rem;
}

.media a i:hover {
  color: $Light-Grey;
}

.navigation {
  background-color: $Dark-Grey;
  min-width: 100%;
  z-index: 999;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.6rem;
    ul {
      display: flex;
      li {
        margin-right: 3.4rem;
        a:hover {
          color: $Yellow;
        }
        img {
          margin-right: 2.4rem;
        }
      }
    }
  }
}
